.pushed {
    background-color: rgb(221,221,221);
}
.row {
    margin-top: 15px;
}
.row .col-xs-2 button {
    width: 100%;
    height: 100%;
}
button p {
    word-break: normal;
    white-space: normal;
}
ol {
    margin-bottom: 0;
}
.row .col-xs-10 {
    display: block;
    text-align: center;
}
.row .col-xs-10 button {
    width:75%;
    margin: 20px;
}