/* This is what happens to the buttons when they are pressed. */
.col-xs-2 .pushed {
    background-color: rgb(221,221,221);
}

/* If you don't like how the bingo-button looks then change these styles */
.row .col-xs-10 {
    display: block;
    text-align: center;
}
.row .col-xs-10 button {
    width: 75%;
    margin: 20px;
}

/* If you don't like how the reset-button looks then change these styles */
.row .col-xs-8 {
    display: block;
    text-align: center;
}
.row .col-xs-8 button {
    width: 75%;
    margin: 20px;
}

/* Do not take away from these following styles. You can add but do not take away. */
.row {
    margin-top: 15px;
}
.row .col-xs-2 button {
    width: 100%;
    height: 100%;
}
button p {
    word-break: normal;
    white-space: normal;
}
ol {
    margin-bottom: 0;
}

/* Here's the CS that I've added */

body{
    background-color: #ededed;
}

#header{
    background-image: linear-gradient(rgba(255,0,0,0), #ededed), url(banner.png);
    width:100%;
    text-align: center;
    color: white;
}

#profile-pic{
    position: absolute;
    top: 65px;
    left: 100px;
}
.panel {
    background-color: white;
}